div.container {
	margin: 30px auto;
}

.container div.head {
	background-color: #2980b9;
	padding: 10px;
}

.container div.head h2 {
	color: #ecf0f1;
	font-weight: 800;
}

.container div.head button {
	text-align: center;
	color: #fff;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 25px;
	background-color: #27ae60
}

.row .col-md-12 {
	padding: 0px;
}

/*Form : Create*/

form {
	padding: 20px 0;
}